<section id="edit-container">
    <div class="edit-container-info">
        <!-- Do not forget to change the path to the image -->
        <img src="../../../assets/images/download.jpeg" alt="image">
        <form action="#" method="" class="container-text">
            <h2>Edit Recipe</h2>
            <p>
                <label for="title">Recipe title:</label>
                <input type="text" id="title" name="" value="">
            </p>
            <p>
                <label for="ingredients">Ingredients</label>
                <input type="text" id="ingredients" name="" value="">
            </p>
            <p>
                <label for="description">Description</label>
                <input type="text area" id="description" name="" value="">
            </p>
            <p>
                <label for="picture">Picture:</label>
                <input type="text" id="picture" name="" value="">
            </p>
            <p>
                <label for="name">Barista's name</label>
                <input type="text" id="name" name="" value="">
            </p>
            <button class="edit-btn">Edit</button>
        </form>
    </div>
</section>