<div id="sect1">
    
    <ul class="content" >
        <h1 >ABOUT US</h1>
        <h2>A JOURNEY THAT STARTED BECAUSE WE LOVE COFFEE...</h2>
        <h3>...AND CONTINUED BECAUSE YOU LOVE COFFEE TOO.</h3>
        <li>Barista-Lovers set about to make specialty coffee easier.
            It turns out, the everyday coffee lover (like you and me)
            isn't using jargon like 'mouthfeel', 'body' and 'velvety'
            to describe the coffee they like to drink. And why should they have to?
            Take specialty coffee, but make it easy.
            That's where we started, and where we're still going 10 years later.
        </li>
        <h2><a href="/home">Back to home</a></h2>
    </ul> 
    
</div>

   
