#sect1 {
    height: 650px;
    color: 
  #fff;
    background-image: url("../../assets/images/header-barista-desktop.webp");
    background-size: 100%;
    background-size: contain;
  }

div {
  text-align: center;
  }

  li {
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #fbfaf4;    
  }
  
.content h1 {
    font-size: 40px;
    padding: 50px;
}

a {
  color: #dcd23c;
}

h2 {
  font-size: 29px;
  margin-bottom: 0%;
}

