
<div id="sect1">
    
    <ul class="content" >
        <h1 >ABOUT US</h1>
        <h2>A JOURNEY THAT STARTED BECAUSE WE LOVE COFFEE...</h2>
        <h3>...AND CONTINUED BECAUSE YOU LOVE COFFEE TOO.</h3>
        <article>
            <h3>To became a Barista Lover jast 
                <a href="/auth/register">Register</a> or 
                <a href="/auth/login">Sign in</a>, 
                <a href="/new-item">Create</a> your own coffee recipe and share it with us!
                 You can also like and comment the other recipes in our catalogue! </h3>
            <h2>Let's start and make the most loved coffee art collection!</h2>
        </article>
        <h2><a href="/home">Back to home</a></h2>
    </ul> 
    
</div>

