<main>
    <section id="register-container">
        <div class="register-container-info">
            <!-- Do not forget to change the path to the image -->
            <img src="../../../assets/images/85984411d0281113179065628d9d061f.jpg" alt="image">
            <form class="container-text" [formGroup]="form" (ngSubmit)="register()">
                <h2>Register</h2>
                <p>Register to get ideas and view the latest masterpieces.</p>
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="ivan_00" name="username" formControlName="username">
                <ng-container *ngIf="form.get('username')?.touched">
                    <p class="error" *ngIf="form.get('username')?.errors?.['required']">Username is required!</p>
                    <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">Username must be at least 5
                        characters!</p>
                </ng-container>
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="2572 Orphan Road" name="email" formControlName="email">
                <ng-container *ngIf="form.get('email')?.touched">
                    <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                    <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">Email is not valid!</p>
                </ng-container>
                <ng-container formGroupName="passGroup">
                    <label for="password">Password:</label>
                    <input type="password" id="password" placeholder="*****" name="password" formControlName="password"
                        formControlName="password">
                    <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                        <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">Password
                            is required!</p>
                        <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']">Password
                            must be at least 5 characters!
                        </p>
                    </ng-container>
                    <label for="re-password">Repeat password:</label>
                    <input id="re-password" placeholder="*****" type="password" formControlName="rePassword">
                    <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
                        <p class="error" *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['required']">Password
                            is required!</p>
                        <p class="error"
                            *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator']">
                            Repeat password does not match password!
                        </p>
                    </ng-container>
                </ng-container>

                <button class="register-btn">Register</button>
                <div class="card-no-account">
                    <p>Already have an account?<a href="/login"> Sign in</a></p>
                </div>
            </form>
        </div>
    </section>
</main>
<app-footer />