<section id="gallery">
    <h1>Catalogue</h1>
    <article class="gallery-container">
        <div *ngIf="isLoading">
            <app-loader/>
        </div>
        <!--If there are art publications in the database, show each of them-->
        <article *ngFor="let recipe of recipeList"class="card-info">
            <article class="card-info-image">
                <img src="{{recipe.img}}" alt="art-image">
            </article>
            <article class="card-info-text">
                <h2>Title: {{recipe.name}}</h2>
                <h3>Autor: {{recipe._ownerId}}</h3>
                <a routerLink="/recipes/{{recipe._id}}" class="details-btn">Details</a>
            </article>
        </article>
        
        <!--If there are still no art publications in the database display:-->
        <article class="no-available-publications" *ngIf="thereAreNoThemes">
            <h1>No recipes created yet.</h1>
            <a routerLink="/new-item" class="create-pub">Create Recipe</a>
        </article>
    </article>
</section>
