<section id="gallery">
    <h1>Catalogue</h1>
    <article class="gallery-container">
        <!-- <div *ngIf="isLoading"> -->
            <!-- <app-loader/> -->
        <!-- </div> -->
        <!--If there are art publications in the database, show each of them-->
        <article *ngFor="let theme of themesList"class="card-info">
            <article class="card-info-image">
                <img src="../../assets/images/barista-coffee-crema-cup.jpg" alt="art-image">
            </article>
            <article class="card-info-text">
                <h2>Title: {{theme.themeName}}</h2>
                <h3>Certificate of authenticity: No</h3>
                <a href="/details" class="details-btn">Details</a>
            </article>
        </article>
        
        <!--If there are still no art publications in the database display:-->
        <article class="no-available-publications" *ngIf="thereAreNoThemes">
            <h1>No recipes created yet.</h1>
            <a href="/new-item" class="create-pub">Create Recipe</a>
        </article>
    </article>
</section>
