<header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">Barista-Lovers</span></p>
      </div>
  
      <div class="mini-navbar">
        <ul >
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
        </ul>
  
        <ul >
          <li>
            <a routerLink="/profile">Barista's profile</a>
          </li>
          <li >
            <a>Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/about">About us</a>
        </li>
        <li>
          <a routerLink="/catalogue">Catalogue</a>
        </li>
        <li>
          <a routerLink="/new-item">Add new</a>
        </li>
      </ul>
    </nav>
  </header>
