<nav>
  <!-- Do not forget to change the path to the image -->
  <img src="../../../assets/images/Creative-coffee-logo-design-vectors-03.jpg" alt="logo">
  <h2><a href="/home">Barista Lovers</a></h2>
  <a href="/about">About us</a>
  <ul class="menu">
      <li><a href="/catalogue">Gallery</a></li>
      <!-- Logged users -->
      <li><a href="/new-item">Create Publication</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
      <!-- Guest users -->
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
  </ul>
</nav>