<div id="box">
    <section id="create-container">
        <div class="create-container-info">
            <!-- Do not forget to change the path to the image -->
            <img src="../../../assets/images/1040747.jpg" alt="image">
            <form action="#" method="" class="container-text">
                <h2>Create Recipe</h2>
                
                <p>
                    <label for="title">Title:</label>
                    <input type="text" id="title" placeholder="Home made cappuccino" name="" value="">
                </p>
                <p>
                    <label for="description">Description:</label>
                    <input type="text" id="description" placeholder=" Cappuccino is equal parts espresso, steamed and foamed milk, and is a favorite drink for many coffee lovers." name="" value="">
                </p>
                <p>
                    <label for="ingredients">Ingredients:</label>
                    <input type="text" id="ingredients" placeholder="espresso, steamed and foamed milk" name="" value="">
                </p>
                <p>
                    <label for="picture">Picture:</label>
                    <input type="text" id="picture" placeholder="../../../assets/images/download.jpeg" name="" value="">
                </p>
                <p>
                    <label for="name">Barista</label>
                    <input type="name" id="name" placeholder="Ceci Popova" name="" value="">
                </p>
                <button class="create-btn">Create</button>
            </form>
        </div>
    </section>
</div>