<div id="box">
    <section id="create-container">
        <div class="create-container-info">
            <!-- Do not forget to change the path to the image -->
            <img src="../../../assets/images/header-barista-desktop.webp" alt="image">
            <form action="#" method="" class="container-text">
                <h2>Create Publication</h2>
                <p>Add your own masterpiece!</p>
                <p>
                    <label for="title">Title:</label>
                    <input type="text" id="title" placeholder="Spring in the garden" name="" value="">
                </p>
                <p>
                    <label for="painting-tech">Painting technique:</label>
                    <input type="text" id="painting-tech" placeholder="Oil paints" name="" value="">
                </p>
                <p>
                    <label for="picture">Art picture:</label>
                    <input type="text" id="picture" placeholder="http://..." name="" value="">
                </p>
                <p>
                    <label for="certificate">Certificate of authenticity:</label>
                    <input type="text" id="certificate" placeholder="Yes" name="" value="">
                </p>
                <button class="create-btn">Create</button>
            </form>
        </div>
    </section>
</div>