#sect1 {
    height: 650px;
    color: 
  #fff;
    background-image: url("../../assets/images/Barista-twenty20_ba07dbd7-09cf-48b1-b08d-adea770da40a-58f111f03df78cd3fc1b71b4.jpg");
    background-size: 100%;
    background-size: contain;
  }